.list-hidden {
  display: none;
}
.list-visible {
  display: block;
}

.col-showing:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: blue;
}
.col-hidden:before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: red;
}
