.sortable-stats-table {
  width: 100%;
  color: #1D2124;
  border-collapse: collapse;
  font-size: 12px;
  text-align: center;
}

.sortable-stats-header-row {
  border-bottom: 1px solid #E3E7EA;
}
.header-sort-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none !important;
  font-family: 'industry-inc-base';
  border: none;
  border-top: 5px solid transparent;
  cursor: pointer;
  width: 100%;
  font-size: 10px;
  padding-bottom: 10px;
  margin-top: 80px;
  background-color: transparent;
}
.header-sort-button.order-neither:after {
  content: "^";
  display: block;
  transform: rotate(180deg);
  line-height: 20px;
  color: transparent;
  height: 20px;
  width: 20px;
  width: 100%;
}
.header-sort-button.order-asc:after {
  content: "^";
  display: block;
  transform: rotate(180deg);
  line-height: 20px;
  color: #9EA3A8;
  height: 20px;
  width: 20px;
  width: 100%;
}
.header-sort-button.order-desc:after {
  content: "^";
  display: block;
  line-height: 20px;
  color: #9EA3A8;
  height: 20px;
  width: 20px;
  width: 100%;
}
.header-sort-button:hover {
  border-top: 5px solid #FFE613;
}

.sortable-stats-row {
  border-bottom: 1px solid #E3E7EA;
}
.sortable-stats-cell {
  color: #9EA3A8;
}
.sortable-stats-row .sortable-stats-cell-0 {
  font-family: 'industry-inc-base', sans-serif;
  padding: 20px;
  color: #4D4D4D;
  border-left: 5px solid transparent;
}
.sortable-stats-row .sortable-stats-cell-1,
.sortable-stats-row .sortable-stats-cell-2 {
  font-family: 'usual', sans-serif;
  color: #4D4D4D;
}
.sortable-stats-row .sortable-stats-cell-2 {
  font-family: 'usual', sans-serif;
}
.sortable-stats-row:hover {
  background-color: #E3E7EA;
}
.sortable-stats-row:hover .sortable-stats-cell-0 {
  border-left: 5px solid #FFE613;
}

.sortable-stats-cell {
  padding: 27px 0;
}
.sortable-stats-row:last-child {
  border: none;
  padding: 0;
}

/* Conditional Classes */

.sortable-stats-header-cell-hidden,
.sortable-stats-cell-hidden {
  display: none;
}
